/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn:focus,
.btn:active {
  box-shadow: none;
}

button[class^="btn-outline"],
button[class*=" btn-outline"]:hover {
  background-color: gray;
}

.MuiAccordionSummary-root {
  background: #f5f5f5 !important;
}

.wrap-icon {
  float: left;
  margin: 12px 10px 0 6px;
}

